doctype html
html
  head
    title SIHISEE web app ~ #{title} ~ Check your hottest Instagram post!
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    <!-- Latest compiled and minified CSS -->
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', 
      crossorigin='anonymous')

    <!-- Optional theme -->
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', 
      integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')

    <!-- Latest compiled and minified JavaScript -->
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', 
      crossorigin='anonymous')

    meta(name='viewport', content='width=device-width', initial-scale='1')

  body
    nav(class=['navbar', 'navbar-inverse']) 
      div(class='container-fluid')
        div(class='navbar-header')
          span(class=['glyphicon', 'glyphicon-fire', 'suuri'])
          h1 SIHISEE ~ Check your hottest Instagram post  
        div(class=['navbar-nav', 'navbar-left', 'btn-group', 'btn-group-lg'])
            a(href='/', class=['nav-item','btn', 'btn-info']) Start here
            a(href='/about', class=['btn', 'btn-info']) About 
              span(class=['glyphicon', 'glyphicon-fire'])

    div(class=['container-fluid', 'text-center'])    
      div(class=['row', 'content'])
        div(class=['col-sm-2', 'sidenav'])
          div(class=['panel', 'panel-info'])
            div(class=['panel-heading']) It's super easy to check:
            ul(class=['list-group'])
              li(class=['list-group-item']) First click the green button and authorize the search by logging in to Instagram
              li(class=['list-group-item']) SIHISEE will then tell you which of your recent posts has most likes
              li(class=['list-group-item']) Enjoy!
              li(class=['list-group-item']) Please note! The current version has limitations: it only works with spcecified user accounts.
        div(class=['col-sm-5', 'text-left']) 
          block content
        div(class=['col-sm-3', 'text-left', 'aside'])
          span(class=['glyphicon', 'glyphicon-fire', 'keskisuuri']) 
          block side_content
    
    footer
      div(class=['container-fluid']) 
        h4= '© 2017 Aleksi Vuorenmaa' 

